.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 260px;
  margin-bottom: 15px;
}

#headertext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-size: 28px;
  margin-bottom: 15px;
  color: #fff;
  flex-direction: column;
}

#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#userIMG{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#userSettings{
  width: 30px;
}
